extends layout

block content
  #app
    h1 {{title}}
    br
    br

    .widgets
      led(ref="led")
      luminosity(ref="luminosity")
      potentiometer(ref="potentiometer")
      //- sound
      temperature(ref="temperature")
      screen

