extends layout

block content
  #app
    h1 {{title}}
    a(@click.prevent="onBtnClick", href="#") Clear
    ul
      li(v-for="log in arduino_logs") {{ log }}

    .widgets
      led(ref="led")
      luminosity(ref="luminosity")
      potentiometer(ref="potentiometer")
      sound
      temperature(ref="temperature")
      screen

